# --- Frontend ---
frontend/node_modules/
frontend/build/
frontend/.DS_Store
frontend/.env

# --- Backend ---
Backend/__pycache__/
Backend/.pytest_cache/
Backend/.vscode/
Backend/.env
Backend/venv/
Backend/env/
Backend/*.pyc

# --- Global Python Envs ---
.venv/

# --- Unused/Temp Project Folders ---
AddsFiles/

# --- System & Editor Files ---
*.log
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# --- OS files ---
ehthumbs.db
Icon?
