# --- Frontend ---
frontend/node_modules/
frontend/build/
frontend/.env
frontend/.DS_Store

# --- Backend ---
backend/venv/
backend/env/
backend/__pycache__/
backend/.pytest_cache/
backend/.vscode/
backend/.env
backend/*.py[cod]

# --- Global Python Envs ---
.venv/

# --- Unused/Temp Project Folders ---
AddsFiles/

# --- System & Editor Files ---
*.log
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
*.swp

# --- IDE Folders ---
.vscode/
.idea/
